<p>Dear Manager,</p>
<p>The following car advertisement has been deactivated and requires your review:</p>
<ul>
  <li>Car Ad ID: {{carAdId}}</li>
  <li>Title: {{title}}</li>
  <li>Description: {{description}}</li>
  <li>User ID: {{userId}}</li>
</ul>
<p>Thank you!</p>