<p>Administration</p>
<p>The seller reported a missing brand:</p>
<ul>
  <li><strong>Brand:</strong> {{brandName}}</li>
  {{#if additionalInfo}}
    <li><strong>Additional information:</strong> {{additionalInfo}}</li>
  {{/if}}
</ul>
<p>Please, add this brand to the list.</p>